<ion-header>
  <ion-toolbar [color]="brown" style="text-align:center">
      
    <ion-title style="background:#5C0606">
        <img src="../../assets/icon/Kelaniya.png"  style="display:inline; width: 50px" />
       <h3 style="color: white; margin-top: 5px">Faculty Notices App - UOK</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngFor="let item of items" style="cursor: pointer" href="/department/1" routerDirection="backward">
        {{ item.name }}
        <!-- <ion-button href="/department/1" routerDirection="backward">Test</ion-button> -->
    </ion-item>

  </ion-list>
</ion-content>
<div class = "bar bar-footer bar-dark">
    <h1 class = "title">University of Kelaniya</h1>
 </div>